<p-card header="Buscar Criptomoeda">
  <p-table
    [value]="coinsData"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    (onRowSelect)="getCoinInfo($event)"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[10, 25, 50]"
>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id" style="width:25%">Codigo<p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="name" style="width:25%">Nome<p-sortIcon field="name"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>{{ rowData.id }}</td>
            <td>{{ rowData.name }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
</p-card>
<p-card header="Informações">
  <div>
    
  </div>
</p-card>
